[Unit]
Description=Minecraft server
After=network.target

[Service]
User=mcsvc
WorkingDirectory=/minecraft/
ExecStart=bash -c "java -Xmx1024M -Xms1024M -jar server.jar nogui <> /minecraft/serverinput"
ExecStop=bash -c "echo \"/stop\" > /minecraft/serverinput && watch -n 1 -e \"ps | grep java\" > /dev/null"
[Install]
WantedBy=multi-user.target